<h1>This is our Index page </h1>
<ul>
<% @articles.each do |article| %>
  <a href="/articles/<%=article.id%>">
  
  <strong> <%= article.title %> </strong>
  <p> <%= article.content %> </p>
<%end%>
</ul>